
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8"/>
        <title>Insert title here</title>
    </head>
    <body>
        <h1>導入Excel</h1>

        <form id="QueryForm" th:action="@{/powerplant/importAnnualReport}" method="post"
              enctype="multipart/form-data" >
            <div class="row">
                　　<div class="col-sm-6" style="width: 50%;">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">请选择上传的文件:</h3>
                        <div class="box-body">
                            <input id="excel_file" class="form-control" type="file" name="filename"
                                   accept="xlsx" size="80" />
                        </div>
                        <span class="box-title"><c:if test="${msg !=''}">${msg}</c:if></span>
                        <input class="btn btn-primary pull-right" id="excel_button" type="submit" value="导入" />
                    </div>
                </div>
            </div>
            </div>
        </form>
    </body>
</html> 